* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(58, 35, 23);
    background: linear-gradient(90deg, rgba(58, 35, 23, 1) 0%, rgba(168, 126, 98, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .head h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border-bottom: 3px solid #ff6d00;
}

.container .head h3 {
    font-size: 2em;
    font-family: Georgia, serif;
    color: white;
}

.container .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}

.container .box img {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

@media (max-width: 600px) {
    .footerContainer {
        flex-direction: column;
        text-align: center;
    }

    .footerNav ul {
        flex-direction: column;
        gap: 5px;
    }

    .footerNav ul li {
        margin: 10px 0;
    }

    .container .box {
        grid-template-columns: 1fr;
    }

    .container .box img {
        padding: 5px;
    }
}
